<!-- Modal Structure -->
<div id="modalVigencia" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h5 class="title center">Tienes una publicación antigua</h5>
        <div style="width:100%;text-align:center;">
            <img id="imgVigencia" class="image-pet z-depth-5" />
        </div>
        <h4 id="vigenciaNombrePerro" style="font-size: 2.1rem;line-height: 100%;margin-top: 10px;text-align:center"></h4>
        <p id="textoVigencia" class="center" style="line-height:1.6rem;">

        </p>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col s6">
                <a href="#!" class="modal-action waves-effect waves-green btn-flat red lighten-1 white-text left btnsVigencia" style="font-size: 3.4vw !important;padding-left:15px !important;padding-right:15px !important;" id="btndescartarVigencia">Descartar</a>
            </div>
            <div class="col s6">
                <a href="#!" class="modal-action waves-effect waves-green btn-flat purple darken-1 white-text right btnsVigencia" style="font-size: 3.4vw !important;padding-left:15px !important;padding-right:15px !important;" id="btnContinuarVigencia">Continuar</a>
            </div>

        </div>


    </div>
</div>
