<?xml version='1.0' encoding='utf-8'?>
<widget id="pe.com.patadeperro" version="1.0.22" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PataDePerro</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="SplashMaintainAspectRatio" value="true|false" />
    <preference name="SplashShowOnlyFirstTime" value="true|false" />
    <engine name="android" spec="^6.2.3" />
    <engine name="ios" spec="^4.4.0" />
    <engine name="browser" spec="^5.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <plugin name="cordova-plugin-geolocation" spec="^2.4.3">
        <variable name="GEOLOCATION_USAGE_DESCRIPTION" value="Pata de Perro would like to use your location" />
    </plugin>
    <plugin name="cordova-plugin-firebase" spec="^0.1.24" />
    <plugin name="cordova.plugins.diagnostic" spec="^3.7.0" />
    <plugin name="cordova-plugin-console" spec="^1.1.0" />
    <plugin name="cordova-plugin-x-socialsharing" spec="^5.2.0" />
    <plugin name="cordova-plugin-camera" spec="^2.4.1">
        <variable name="CAMERA_USAGE_DESCRIPTION" value=" " />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value=" " />
    </plugin>
    <plugin name="cordova-plugin-facebook" spec="^0.2.2">
        <variable name="FACEBOOK_DISPLAY_NAME" value="pataPerroTest" />
        <variable name="FACEBOOK_APP_ID" value="1393050120751260" />
    </plugin>
    <plugin name="cordova-plugin-document-viewer" spec="^0.9.5" />
    <plugin name="cordova-plugin-googleplus" spec="^5.1.1">
        <variable name="REVERSED_CLIENT_ID" value="504731767550-35a64kqlp6j3fm5i3imeemh5gci9h63b.apps.googleusercontent.com" />
    </plugin>
    <plugin name="cordova-plugin-network-information" spec="^1.3.3" />
</widget>
