<a href="notificaciones.html" style="position:absolute;margin:0px 6px 0px 0px;right:0px;top:10px;z-index:998;color:#fff;">
            <img src="images/noti48.png">
            <span class="label-count countNotifiacionesView">0</span>

</a>
<ul class="side-nav" id="mobile-menu">
    <li class="primary">
        <div class="userView">
            <div class="background"></div>
            <img src="images/logo_top.jpg" class="responsive-img padding-top-2">
        </div>
    </li>
    <li><a href="nosotros.html" data-info="nosotros" data-title="CONÓCENOS"><i><img src="images/quienes.png" class="margin-icon"></i>CONÓCENOS</a></li>
    <li><a href="registro_empresa.html" data-info="negocio" data-title="REGISTRA TU NEGOCIO" data-view="registro_empresa"><i><img src="images/negocio.png" class="margin-icon"></i>REGISTRA TU NEGOCIO</a></li>
    <li><a href="faq.html" data-info="faq" data-title="FAQ"><i><img src="images/faq.png" class="margin-icon"></i>PREGUNTAS FRECUENTES</a></li>
    <li><a href="contactenos.html" data-info="contacto" data-title="CONTÁCTANOS"><i><img src="images/contacto.png" class="margin-icon"></i>CONTÁCTANOS</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a href="perfil_usuario.html"><i><img src="images/perfil.png" class="margin-icon"></i>MI PERFIL (Registro de Engreídos) </a></li>
    <li><a href="notificaciones.html" data-info="bandejaNotificaciones" data-title="Bandeja Notificaciones"><i><img src="images/inbox.png" class="margin-icon"></i>BANDEJA NOTIFICACIONES</a></li>
    <li><a href="#" class="linkLogoutPrincipal" data-info="cerrar"><i><img src="images/exit_to_app.png" class="margin-icon"></i>CERRAR SESIÓN</a></li>
</ul>


<nav class="navbar-fixed">
    <nav>
        <div class="nav-wrapper" style="position:relative;">

            <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
            <a href="#" class="brand-logo center" id="index-id"><img src="images/logo_top.jpg" class="responsive-img update-responsive" alt="" /></a>

            <!-- <a href="#" data-activates="mobile-menu" class="valign-notification right"><img src="images/50x50.png" class="update-responsive-2" alt="" /> <span class="label-count">7</span></a> -->



            <ul class="right hide-on-med-and-up hide-on-med-and-down">
                <li class="primary">
                    <div class="userView">
                        <div class="background"></div>
                        <img src="images/logo_top.jpg" class="responsive-img padding-top-2">
                    </div>
                </li>
                <li><a href="nosotros.html" data-info="nosotros"><i><img src="images/quienes.png" class="margin-icon"></i>CONÓCENOS</a></li>
                <li><a href="registro_empresa.html" data-info="negocio"><i><img src="images/negocio.png" class="margin-icon"></i>REGISTRA TU NEGOCIO</a></li>
                <li><a href="faq.html" data-info="faq"><i><img src="images/faq.png" class="margin-icon"></i>PREGUNTAS FRECUENTES</a></li>
                <li><a href="contactenos.html" data-info="contacto"><i><img src="images/contacto.png" class="margin-icon"></i>CONTÁCTANOS</a></li>
                <li>
                    <div class="divider"></div>
                </li>
                <li><a href="perfil_usuario.html" data-info="perfil"><i><img src="images/faq.png" class="margin-icon"></i>MI PERFIL (Registro de Engreídos) </a></li>
                <li><a href="#" data-info="bandejaNotificaciones"><i><img src="images/faq.png" class="margin-icon"></i>BANDEJA NOTIFICACIONES</a></li>
                <li><a href="#" class="linkLogoutPrincipal" data-info="cerrar"><i><img src="images/quienes.png" class="margin-icon"></i>CERRAR SESIÓN</a></li>

            </ul>

        </div>
    </nav>
</nav>
